---
// Layout
import Base from "../layouts/Base.astro";

// Components
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
import HorizontalRule from "../components/HorizontalRule.astro";
import { Image } from "astro:assets";

// Images
import cover from "/src/images/tom-1.jpg";
import icefall from "/src/images/icefall.jpg";
import crevasseBridge from "/src/images/crevasse-bridge.jpeg";
import monkeyTemple from "/src/images/monkey-temple.jpg";
import kathmandu from "/src/images/kathmandu.jpg";
import flyingToLukla from "/src/images/flying-to-lukla.jpg";
import luklaAirport from "/src/images/lukla-airport.jpg";
import suspensionBridge from "/src/images/suspension-bridge.jpg";
import hillarySchool from "/src/images/hillary-school.jpg";
import tahr from "/src/images/tahr.jpg";
import gokyoLake2 from "/src/images/gokyo-lake-2.jpg";
import glacier from "/src/images/glacier.jpg";
import choLaPass from "/src/images/cho-la-pass.jpg";
import dzongla from "/src/images/dzongla.jpg";
import pumori from "/src/images/pumori.jpg";
import dingboche from "/src/images/dingboche.jpg";
import chhukung from "/src/images/chhukung.jpg";
import islandPeak from "/src/images/island-peak.jpg";
import tengbocheMonastery from "/src/images/tengboche-monastery.jpg";
import amaDablam from "/src/images/ama-dablam.jpg";
---

<Base title="Back Country Tours">
  <Header>
    <h1>Back Country Tours</h1>
  </Header>
  <MainContent>
    <section class="intro">
      <Image
        src={cover}
        class="cover"
        widths={[240, 540, 720, cover.width]}
        sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
        alt="A selfie of Tom Masterson a snowy winter day."
        fetchpriority="high"
        loading="eager"
      />
      <p class="intro">
        Back Country Tours is a mountain guide service and ski and
        mountaineering school recognized by the Professional Ski Instructors of
        America. <a href="/tom-masterson/">Tom Masterson</a>, the owner and
        principal instructor, is a PSIA-certified cross-country ski instructor
        and mountain tour guide with thirty-five years' experience teaching
        mountaineering, skiing, and wilderness survival skills.
      </p>
    </section>

    <section>
      <h2>Courses and Tours</h2>

      <p>
        Tom has also taught the High Altitude Mountaineering section of the
        Colorado Mountain Club, the Lake Eldora Ski Area, the University of
        British Columbia Mountaineering Club, University of Wisconsin Hoofers,
        and Deutscher Alpenverein in Germany.
      </p>

      <p>
        In the winter, Tom teaches cross country, back country, telemark,
        mountain leadership, and avalanche courses. In the summer, he teaches
        climbing and mountaineering, and guides expeditions world-wide.
      </p>

      <p>
        <a href="/contact/">Contact</a> Tom for more information about courses and
        tours.
      </p>
    </section>

    <HorizontalRule />

    <section id="photo-essay" class="photo-essay">
      <h2>Photo Essay</h2>
      <figure>
        <Image
          src={icefall}
          widths={[240, 540, 720, icefall.width]}
          sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
          alt="Tom climbing on a ladder on Khumbu Icefall."
        />
        <figcaption>Tom climbing a ladder on Khumbu Icefall.</figcaption>
      </figure>
      <figure>
        <Image
          src={crevasseBridge}
          widths={[240, 540, 720, crevasseBridge.width]}
          sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
          alt="Tom crossing a crevasse bridge on Mount Everest."
        />
        <figcaption>Crevasse Bridge, Everest.</figcaption>
      </figure>

      <section id="nepal" class="nepal">
        <hgroup class="nepal">
          <h3>Trekking in Nepal</h3>
          <p>
            <i
              >May 1-22, 2008 (tentative dates). Hiking through the awesome
              beauty of the world’s highest mountains.
            </i>
          </p>
        </hgroup>

        <p>
          This is a hike of a lifetime. Requirements: Spirit of adventure and
          excellent physical condition. Mountaineering skills not required.
        </p>
        <div class="grid">
          <figure>
            <Image
              src={monkeyTemple}
              widths={[240, 540, 720, monkeyTemple.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Monkey Temple, Kathmandu"
            />
            <figcaption>Monkey Temple, Kathmandu.</figcaption>
          </figure>

          <figure>
            <Image
              src={kathmandu}
              widths={[240, 540, 720, kathmandu.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Bustling streets of Kathmandu."
            />
            <figcaption>Bustling streets of Kathmandu.</figcaption>
          </figure>
        </div>
        <div class="grid">
          <figure>
            <Image
              src={flyingToLukla}
              widths={[240, 540, 720, flyingToLukla.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Flying to Lukla."
            />
            <figcaption>
              Flying to Lukla, one of the world's most spectacular airports;
              with a runway that angles up to 20&deg;!
            </figcaption>
          </figure>

          <figure>
            <Image
              src={luklaAirport}
              widths={[240, 540, 720, luklaAirport.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="A plane taking off from Lukla Airport."
            />
            <figcaption>Taking off from Lukla Airport.</figcaption>
          </figure>
        </div>

        <div class="grid">
          <figure>
            <Image
              src={suspensionBridge}
              widths={[240, 540, 720, suspensionBridge.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Suspension bridges over a river gorge."
            />
            <figcaption>
              Trekking up a gorgeous river valley over suspension bridges, past
              spectacular water falls to Namche Bazar.
            </figcaption>
          </figure>
          <figure>
            <Image
              src={hillarySchool}
              widths={[240, 540, 720, hillarySchool.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Hillary School in Kumjung."
            />
            <figcaption>
              Then up to the Sir Edmund Hillary School in Kumjung.
            </figcaption>
          </figure>
        </div>
        <p>
          Through the spectacular Bhote Koshi valley to Thame monastery and the
          beautiful, remote village of Lundgren, home of some of the world’s
          most renowned Sherpas.
        </p>
        <figure>
          <Image
            src={tahr}
            widths={[240, 540, 720, tahr.width]}
            sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
            alt="Tahr."
          />
          <figcaption>Tahr.</figcaption>
        </figure>
        <p>
          Then up a seldom-traveled trail past gorgeous lakes to Renjo Pass
          (~5350m). Last time I was on this trail I saw no one for the entire
          day!
        </p>
        <figure>
          <Image
            src={gokyoLake2}
            widths={[240, 540, 720, gokyoLake2.width]}
            sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
            alt="Gokyo Lake from Gokyo Ridge."
          />
          <figcaption>
            Gokyo Lake (4800m), perhaps the most beautiful place I have seen on
            this planet.
          </figcaption>
        </figure>
        <p>
          Day trips to the sacred lakes around Gokyo, including majestic views
          of Cho Oyu, Everest, Lhotse, and an optional climb of Gokyo Ri
          (5366m).
        </p>

        <div class="grid">
          <figure>
            <Image
              src={glacier}
              widths={[240, 540, 720, glacier.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Lake in middle of Ngozumpa glacier."
            />
            <figcaption>
              Across Ngozumpa glacier, perhaps among the largest glaciers in the
              world.
            </figcaption>
          </figure>

          <figure>
            <Image
              src={choLaPass}
              widths={[240, 540, 720, choLaPass.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Cho La Pass."
            />
            <figcaption>Cho La Pass (~5300m).</figcaption>
          </figure>
        </div>

        <p>
          Up Khumbu to Loboche & Gorak Shep, with an optional climb of Kalapatar
          Peak (~5500m), with incredible views of Pumori & Everest.
        </p>

        <div class="grid">
          <figure>
            <Image
              src={dzongla}
              widths={[240, 540, 720, dzongla.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Dzongla."
            />
            <figcaption>Dzongla.</figcaption>
          </figure>

          <figure>
            <Image
              src={pumori}
              widths={[240, 540, 720, pumori.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Pumori."
            />
            <figcaption>Pumori.</figcaption>
          </figure>
        </div>

        <p>
          Trek into Everest base camp at the base of the incredible Khumbu
          icefall, back to Lobouche, over to Dukla, across the soul-searching
          moraine to Dingboche, the town with the stone walls.
        </p>

        <div class="grid">
          <figure>
            <Image
              src={dingboche}
              widths={[240, 540, 720, dingboche.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Dingboche."
            />
            <figcaption>Stone walls of Dingboche.</figcaption>
          </figure>

          <figure>
            <Image
              src={chhukung}
              widths={[240, 540, 720, chhukung.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Chhukung."
            />
            <figcaption>
              Chhukung and fluted ridge on the Chinese border.
            </figcaption>
          </figure>
        </div>

        <p>
          Optional climbs of Chhukung Ri Peak (5500m) and Chhukung Peak (5800m).
          Optional climb of Island Peak 6118m (20,072ft) — this is the only peak
          on this tour that requires any snow/glacier experience; all others can
          be done in tennis shoes!
        </p>

        <div class="grid">
          <figure>
            <Image
              src={islandPeak}
              widths={[240, 540, 720, islandPeak.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Island Peak."
            />
            <figcaption>Island Peak.</figcaption>
          </figure>

          <figure>
            <Image
              src={amaDablam}
              widths={[240, 540, 720, amaDablam.width]}
              sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
              alt="Ama Dablam."
            />
            <figcaption>
              Ama Dablam, a challenging technical climb (not on this trip).
            </figcaption>
          </figure>
        </div>

        <figure>
          <Image
            src={tengbocheMonastery}
            widths={[240, 540, 720, tengbocheMonastery.width]}
            sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
            alt="Tengboche Monastery."
          />
          <figcaption>
            Tengboche Monastery, one of the most famous in the world.
          </figcaption>
        </figure>

        <p>
          Then through the Rhododendron forest back to Namche with its Sherpa
          museum, busy market, and bustling tourist shops. Trek out to Lukla,
          flight to Kathmandu, a day or two of great shopping + good restaurants
          in Kathmandu before flight home.
        </p>

        <p>
          Meals and lodging during trek will be in Sherpa Lodges. Minimal gear
          needed (daypacks). There will be a porter for every 2 people to carry
          up to 10 kg per person extra). Cost ~$1800 + flight to Kathmandu (~ 3
          weeks in Nepal). This is one incredible trip!
        </p>
        <p><a href="/contact/">Contact Tom</a> for more information.</p>
      </section>
    </section>
  </MainContent>
</Base>

<style>
  p.intro {
    font-variant: small-caps;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
  }

  p {
    text-wrap: pretty;
  }

  h3 {
    font-size: calc(2rem + 1vw);
    margin-bottom: 1rem;
  }

  hgroup.nepal p {
    text-align: center;
    font-size: calc(1.25rem + 0.1vw);
    margin: 0;
  }

  figure {
    margin: 2rem 0;
  }

  figcaption {
    font-style: italic;
    font-size: small;
    margin-top: 1rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: 500px) {
    div.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
</style>
