---
// Layout
import Base from "../layouts/Base.astro";

// Components
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";

// Images
import kami from "/src/images/tom-and-kami.jpg";
import eclipse from "/src/images/eclipse.jpg";
import eclipse2 from "/src/images/eclipse-2.jpg";
import oberek from "/src/images/oberek-suzi.jpg";
import postoley from "/src/images/postoley-1.jpg";
import postoley2 from "/src/images/postoley-2.jpg";
import postoley3 from "/src/images/postoley-3.jpg";
import postoley4 from "/src/images/postoley-4.jpg";
import qomolangma from "/src/images/qomolangma.jpg";
import friends from "/src/images/tom-and-friends.jpg";
import southAfrica from "/src/images/south-africa.jpg";
import veronica from "/src/images/tom-veronica.jpg";

// Functions
// async function getGalleryImages() {
//   const images = import.meta.glob(
//     "/src/images/gallery/**/*.{jpg,jpeg,png,webp}",
//     { eager: true },
//   );

//   // Make sure we have images before processing
//   if (!images) {
//     return [];
//   }

//   return Object.entries(images)
//     .map(([path, module]) => {
//       // Add error handling for missing module or default export
//       if (!module || !module.default) {
//         console.warn(`Missing module or default export for ${path}`);
//         return null;
//       }

//       return {
//         src: module.default,
//         title: path
//           .split("/")
//           .pop()
//           .replace(/\.[^/.]+$/, ""),
//       };
//     })
//     .filter(Boolean); // Remove any null entries
// }

async function getGalleryImages() {
  const images = import.meta.glob(
    "/src/images/gallery/**/*.{jpg,jpeg,png,webp}",
    { eager: true },
  );

  // Transform the images object into an array of objects
  return Object.entries(images).map(([path, module]) => ({
    src: module.default, // The default export is the image URL
  }));
}

const galleryImages = await getGalleryImages();
---

<Base title="Gallery">
  <Header>
    <h1>Gallery</h1>
  </Header>
  <MainContent>
    <Image
      src={oberek}
      class="cover"
      widths={[240, 540, 720, oberek.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Oberek with Suzi."
      fetchpriority="high"
      loading="eager"
    />
    <Image
      src={postoley}
      class="cover"
      widths={[240, 540, 720, postoley.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Postoley."
    />
    <Image
      src={postoley2}
      class="cover"
      widths={[240, 540, 720, postoley2.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Postoley 2."
    />
    <Image
      src={postoley3}
      class="cover"
      widths={[240, 540, 720, postoley3.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Postoley 3."
    />
    <Image
      src={postoley4}
      class="cover"
      widths={[240, 540, 720, postoley4.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Postoley 4."
    />

    <Image
      src={veronica}
      class="cover"
      widths={[240, 540, 720, veronica.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Tom and Veronica."
    />
    <Image
      src={qomolangma}
      class="cover"
      widths={[240, 540, 720, qomolangma.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Qomolangma."
    />

    <Image
      src={southAfrica}
      widths={[240, 540, 720, southAfrica.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Tom Masterson in South Africa."
    />

    <Image
      src={friends}
      class="cover"
      widths={[240, 540, 720, friends.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Tom with friends."
    />
    <Image
      src={kami}
      class="cover"
      widths={[240, 540, 720, kami.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="Tom with Dr. Kami."
    />

    <Image
      src={eclipse}
      class="cover"
      widths={[240, 540, 720, eclipse.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="A total solar eclipse."
    />
    <Image
      src={eclipse2}
      class="cover"
      widths={[240, 540, 720, eclipse2.width]}
      sizes="(min-width: 1220px) 821px, (min-width: 860px) calc(85.88vw - 210px), calc(100vw - 32px)"
      alt="A total solar eclipse from another angle."
    />

    {
      galleryImages.map((photo) => (
        <Image
          src={photo.src}
          widths={[256, 691, 936, 1382, 1640, 1850, 2048]}
          sizes="(min-width: 1020px) 691px, (min-width: 780px) calc(81.82vw - 127px), calc(100vw - 48px)"
          alt="Danceophile gallery photo."
        />
      ))
    }
  </MainContent>
</Base>

<style>
  img {
    min-width: 100%;
    margin-bottom: 1rem;
  }
</style>
